::-webkit-scrollbar {
    display: none;
}

.questions-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.builder-container {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.drag-handle {
    cursor: grab;
    color: #9e9e9e;
}

.drag-handle:hover {
    color: #616161;
}

.block-card {
    border-top: 10px solid var(--form-theme-color);
    border-bottom: none;
    transition: 0.15s;
    border-radius: 8px;
}

.block-card:focus-within {
    box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.block-card:not(:focus-within) .form-input-base {
    border-bottom-color: transparent;
}

.form-input-base {
    position: relative;
    padding-bottom: 4px;
    border: none;
    outline: none;
    border-bottom: 2.5px solid transparent;
}

.block-card:focus-within .form-input-base:not(:focus) {
    border-bottom-color: #e0e0e0;
}

.form-input-base::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2.5px;
    background: var(--form-theme-color);
    transform: translateX(-50%);
    transition: width 0.25s ease;
}

.form-input-base:focus::after {
    width: 100%;
}

.form-title-editable,
.form-description-editable {
    padding: 2px 4px;
    outline: none;
    position: relative;
    border-bottom: 3px solid #e0e0e0;
}

.block-card:focus-within .form-title-editable:not(:focus),
.block-card:focus-within .form-description-editable:not(:focus),
.block-card:focus-within .form-question-editable:not(:focus) {
    border-bottom-color: #e0e0e0;
    outline: none;
}

.form-title-editable:focus,
.form-description-editable:focus,
.form-question-editable:focus {
    border-bottom-color: var(--form-theme-color);
    transition: border-color 0.25s ease;
    outline: none;
}

.form-title-editable {
    font-size: 28px;
    font-weight: 600;
    outline: none;
}

.form-description-editable {
    font-size: 14px;
    outline: none;
}

.form-question-editable {
    font-size: 14px;
    color: #000;
    outline: none;
}

[contenteditable="true"] {
    min-height: 28px;
    cursor: text;
    outline: none;
}

[contenteditable="true"][data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #aaa;
    pointer-events: none;
}

[contenteditable="true"]:not(:empty):before {
    content: none;
}

.editor-wrapper {
    background: #fff;
}

.editor-toolbar {
    display: none;
    gap: 6px;
}

.editor-wrapper:focus-within .editor-toolbar {
    display: flex;
}

.toolbar-btn {
    border: none;
    background: none;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.toolbar-btn:hover {
    background: #f1f3f4;
}

.toolbar-btn.active {
    background: #e8f0fe;
    color: #1967d2;
}

.floating-menu {
    position: fixed;
    top: 120px;
    left: calc(50% + 385px + 16px);
    width: 48px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.floating-btn {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.floating-btn:hover {
    background: #f1f3f4;
}

.floating-icon {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-icon i {
    font-size: 16px;
}

.floating-btn[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    background: #555;
    color: white;
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s;
}

.floating-btn:hover::after {
    opacity: 1;
}