::-webkit-scrollbar {
    display: none;
}

:root {
    --form-theme-color: #673ab7;
    --form-bg-color: #f0ebf8;
}

.responses-container {
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
}

.responses-header {
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    margin-bottom: 12px;
}

.responses-header-title {
    padding: 16px 24px 12px;
}

.response-title {
    font-size: 28px;
    font-weight: 600;
}

.response-titles {
    border-top: 10px solid var(--form-theme-color);
    border-radius: 8px;
    background-color: #fff;
    padding: 12px 24px;
}

.response-page {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 8px;
}

.tab-page {
    position: relative;
    display: flex;
    width: 100%;
}

.page-btn {
    flex: 1;
    height: 46px;
    background: none;
    border: none;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.page-btn.active {
    color: #000;
    font-weight: 600;
}

.page-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background: var(--form-theme-color);
    border-radius: 2px;
    transition: 0.25s ease;
}

.responses-tab {
    display: none;
}

.responses-tab.active {
    display: block;
}

.summary-section {
    text-align: center;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f5a68;
}

.icon-btn:hover {
    background: #f5f5f5;
}

.res-card {
    border-radius: 8px;
    border: 1px solid rgb(218, 220, 224);
    padding: 24px;
}

.text-muted-none {
    border-radius: 8px;
    border: 1px solid rgb(218, 220, 224);
    padding: 12px;
    background: #fff;
    text-align: center;

}

.form-check-input {
    opacity: 100;
}

.form-check-input:disabled {
    opacity: 100;
}

.form-check-input:checked {
    background-color: var(--form-theme-color);
    border-color: var(--form-theme-color);
}

.form-check-input:disabled~.form-check-label,
.form-check-input[disabled]~.form-check-label {
    cursor: default;
    opacity: 100;
}