* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

code {
    font-family: 'Pretendard', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}